---
layout: layouts/base.njk
title: Welcome
---
{% include "components/hero.njk" %}
{% include "components/biblical-church-home.njk" %}
{% include "components/scripture-banner.njk" %}
{% include "components/category-grid.njk" %}
{% include "components/latest-articles.njk" %}
{# {% include "components/about-home.njk" %} #}