<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ title }} | Biblically Faithful</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/articles/">Articles</a>
  </nav>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    &copy; 2026 Biblically Faithful. All rights reserved.
  </footer>
</body>
</html>