<section class="featured-scripture section">
  <div class="container">
    <div class="featured-scripture__card panel">
      <div class="featured-scripture__reference">
        <p class="feature__eyebrow">Featured Scripture</p>
        <h2>{{ featuredScripture.reference }}</h2>
        <a href="{{ featuredScripture.article }}" class="button button-filled button-bible">
          Related Article →
        </a>
      </div>
      <div class="featured-scripture__content">
        <blockquote>
          "{{ featuredScripture.text }}"
        </blockquote>
        
        <cite>
          {{ featuredScripture.referenceShort }} ({{ featuredScripture.versionAbbr }})
        </cite>
        
      </div>
    </div>
  </div>
</section>